.nav {
    position: fixed;
    top:0;
    width: 100%;
    height: 68px;
    z-index: 1;

    transition-timing-function: ease-in;
    transition: all 0.5s;

}

.nav_black{
    background-color: rgb(20, 20, 20);
    background-image: linear-gradient(180deg, rgba(0, 0, 0, .7) 10%, transparent);;
}

.nav_contents {
    display: flex;
    justify-content: space-between;
}


.nav_logo{
    position: fixed;
    left:0px;
    top:15px;
    width: 120px;
    height: 45px;
    object-fit: contain;
    padding-left: 30px;
    
    cursor: pointer;
}


.nav_avatar{
    position: fixed;
    right:20px;
    width: 30px;
    height: 30px;
    top:18px;
    border-radius: 2px;
    cursor: pointer;
}