.footer_text{
    text-align: center;
    font-family: 'Netflix-sans', 'Montserrat';
    padding-bottom: 20px;
    color: white;
}

a {
    text-decoration: underline;
    color: rgb(252, 189, 0);
    cursor: pointer;
    font-weight: bold;
}